@import "./reset.css";

:root {
  --primary-background-color: #fdfdfd;
  --primary-border-color: #a9a9a9;
  --primary-shadow-color: rgba(0, 0, 0, 0.2);
  --secondary-background-color: #fdfdfd58;

  --main-border-radius: 12px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(152, 90, 210);
  font-family: "Montserrat", Helvetica, sans-serif;
}

main {
  background-color: var(--primary-background-color);
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  margin: 0 auto;
  border-radius: var(--main-border-radius);
  box-shadow: 0 15px 15px var(--primary-shadow-color);
  position: relative;
}

.title {
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
}

label {
  display: block;
  margin-bottom: 8px;
}

.input-box {
  letter-spacing: 0.1rem;
  border: 2px solid var(--primary-border-color);
  border-radius: 20px;
  background-color: inherit;
  padding: 8px;
  align-self: center;
  text-align: center;
}

.currency-selectors {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
}

.button-space {
  grid-column: 2;
  grid-row: 1 / 3;
}

#change-currencys {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 2px solid var(--primary-border-color);
  border-radius: 4px;
  transition: all 0.3s ease;
  outline: none;
}

#change-currencys:hover {
  transform: scale(1.05);
}

#change-currencys:focus {
  border-color: #8001c9;
  box-shadow: 0 0 0 2px rgba(156, 42, 243, 0.398);
}

.dropdown-menu {
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0 4px 10px var(--primary-shadow-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

.dropdown-menu:focus {
  border-color: #8001c9;
  box-shadow: 0 0 0 2px rgba(156, 42, 243, 0.398);
}

.values {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.values span {
  word-break: break-all;
}

.values span:last-child {
  text-align: right;
}

.hidden {
  display: none;
}

.error {
  color: rgb(255, 34, 34);
}

.loader {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--main-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.405);
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 4.5em;
  height: 4.5rem;
  border: 1rem solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
